CRYPTO_SECRET="tEcHiEr#ChAtBoT@sEcReT#kEy"
SECRET_KEY=TeChIeR_ChAtBoT_ToKeN
PORT=5001
NODE_ENV=development
DATABASE="techier_chatbot"
DATABASEUSERNAME="techier_chatbot_user"
DATABASEPASSWORD="TYY1wuFMzSUSK8phuHS2VatDO8bIvCaa"
DATABASEHOST="dpg-d2pa69be5dus73augi70-a"
DATABASEPORT=5432
SSL="true"
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=harshantala149@gmail.com
MAIL_PASSWORD=cvvylkufpddqfpfx
MAIL_CRYPTO=ssl
RESETPASSWORD_LINK=http://localhost:3000/authentication/reset-password/
VERIFICATION_LINK=http://localhost:3000/authentication/verify-email/
FULL_NAME=Techier
USER_EMAIL=techier@gmail.com
COMPANY_NAME=Techier
COMPANY_EMAIL= contact@techier.com
PASSWORD=123
GEMINI_API_KEY=AIzaSyCQYWWFu8oZ7fYtEFAJoe6KGyOattLw0bc
API_URL=http://localhost:5001
WS_URL=ws://localhost:5001/